<?xml version="1.0" encoding="UTF-8" ?><!-- 文档声明 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd"><!-- 约束声明 -->

<!-- mybatis的全局配置文件 -->
<configuration>
    
    <properties resource=""></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>

        <package name="com.atguigu.crud.bean"/>
    </typeAliases>
<!--    &lt;!&ndash; 配置mybatis的开发环境&ndash;&gt;-->
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            &lt;!&ndash; 事务管理方式：-->
<!--             JDBC:将事务交给JDBC管理-->
<!--             MANAGED：自己管理事务-->
<!--            &ndash;&gt;-->
<!--            <transactionManager type="JDBC"></transactionManager>-->
<!--            &lt;!&ndash; 配置数据源即连接池：-->
<!--                POOLED:使用连接池-->
<!--                UNPOOLED:不使用连接池-->
<!--                JNDI：已过时-->
<!--            &ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                &lt;!&ndash; com.mysql.jdbc.Driver &ndash;&gt;-->
<!--                <property name="driver" value="${database.driver}"/>-->
<!--                &lt;!&ndash; jdbc:mysql:///demo?characterEncoding=utf-8 &ndash;&gt;-->
<!--                <property name="url" value="${database.url}"/>-->
<!--                &lt;!&ndash; root &ndash;&gt;-->
<!--                <property name="username" value="${database.username}"/>-->
<!--                &lt;!&ndash; root &ndash;&gt;-->
<!--                <property name="password" value="${database.password}"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    &lt;!&ndash; 导入mapper.xml映射文件&ndash;&gt;-->
<!--    <mappers>-->
<!--        <mapper resource=""></mapper>-->
<!--    </mappers>-->

</configuration>